__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.ipynb_checkpoints/
models/
dbv3_base_ens_model/
Qwen3Emb_Finetuned/
pseudo_lora/
submission*.csv
Triplet_submission.csv
deberta_submission.csv
*.yaml
!accelerate_config.yaml
